




* {
  /* font-family: 'LibreBaskerville'; */
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  
}


html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  /* background-color: black; */
}

.image-with-shadow {
  cursor: pointer;
  
  transition: all 0.4s ease-in-out;
}

.image-with-shadow:hover {
  transform: scale(1.01);

  
  
}




